// add all structural CSS here. no colors, borders or typography here

/////	GLOBAL	/////

// Footer
.site-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 4rem 0;
    border-top: #EBF2F6 1px solid;
    font-family: 'Futura', sans-serif;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: #BBC7CC;
    text-align: center;
    background: #F7FAFB;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #50585D;
}

// The subscribe icon on the footer
.subscribe {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -15px;
    border: #EBF2F6 1px solid;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 50px;
    background: #fff;
    transition: box-shadow 0.5s;
}

// The RSS icon, inserted via icon font
.subscribe:before {
    color: #D2DEE3;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 9px;
    font-weight: bold;
    transition: color 0.5s ease;
}

// Add a box shadow to on hover
.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover:before {
    color: #50585D;
}

// CSS tooltip saying "Subscribe!" - initially hidden
.tooltip {
    opacity:0;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    position:absolute;
    top: -23px;
    left: -23px;
    color: rgba(255,255,255,0.9);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background: #50585D;
    border-radius:20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

// The little chiclet arrow under the tooltip, pointing down
.tooltip:after {
    content:"";
    border-width:5px 5px 0 5px;
    border-style:solid;
    border-color: #50585D transparent;
    display:block;
    position:absolute;
    bottom:-4px;
    left:50%;
    margin-left:-5px;
    z-index: 220;
    width:0;
}

// On hover, show the tooltip!
.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}

/////	TYPOGRAPHY	/////

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
}

p, ul, ol {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    
	p {
	    margin: 0.8em 0;
	    font-style: italic;
	}
	
	small {
	    display: inline-block;
	    margin: 0.8em 0 0.8em 1.5em;
	}
}


/////	HOMEPAGE STRUCTURE	/////

// Set .posts elements as you wish
.post {
	// @include span-columns(4);
	// @include nth-omega(3);
}
// Big cover image on the home page
#site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 60%;
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;
    background: #303538 no-repeat center center;
    background-size: cover;
}

// Yo-logo. Yolo-go. Upload one in ghost/settings/
#blog-logo img {
    display: block;
    max-height: 100px;
    width: auto;
    margin: 0 auto;
    line-height: 0;
}

#back {
    color: rgba(0,0,0,0.2);
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 6px;
    font-size: 16px;
}

// The details of your blog. Defined in ghost/settings/
.blog-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-style: italic;
    font-weight: 500;
}

.blog-description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 300;
    font-style: italic;
    font-family: 'Futura', sans-serif;
    letter-spacing: 0;
}

// Every post, on every page, gets this style on its <article> tag
.post {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom:  #50585D 3px solid;
    word-break: break-word;
    hyphens: auto;
}
/* Old color: #EBF2F6*/

// Add a little circle in the middle of the border-bottom on our .post just for the lolz and stylepoints.
.post:after {
    /* original circle: 
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;*/
    color: #50585D;
    display: block;
    content: "><";
    position: absolute;
    bottom: 0px;
    letter-spacing: -4px;
    line-height: 0px;
    font-size: 35px;
    left: 50%;
    margin-left: -18px;
    background: #fff;
}



.post-title {
    margin:0;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 1.6rem 0 0 0;
    font-size: 0.9em;
    line-height: 1.6em;
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Futura', sans-serif;
    font-size: 1.5rem;
    color: #9EABB3;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}


/////	Single Post		/////

// Tweak the .post wrapper style
.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

// Kill that stylish little circle that was on the border, too
.post-template .post:after {
    display: none;
}

// Insert some mad padding up in the header for better spacing
.post-template .post-header {
    padding: 60px 0;
}

// Keep large images within the bounds of the post-width
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

// The author credit area after the post
.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

// Create some space to the right for the share links
.post-footer .author {
    margin-right: 180px;
}

// Drop the share links in the space to the right.
//  Doing it like this means it's easier for the author bio
// to be flexible at smaller screen sizes while the share
// links remain at a fixed width the whole time

.post-footer .share {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
}

.post-footer .share a:hover {
    color: #50585D;
}

.share-home {
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem ;
    color: #BBC7CC;
}