// styles go here. no typography or structural CSS

/////	GLOBAL	/////

body {
	background: #fff;
    color: #3A4145;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
}

::selection {
    color: #222;
    background: #D6EDFF;
}

blockquote {
    border-left: #4a4a4a 0.4em solid;
}

/////	MODUKES	/////
